<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guangde.business.dao.ActionUserMapper">
	<select id="queryById" parameterType="Integer" resultType="ActionUser">
		select * from  action_user  where id = #{0}
	</select>
</mapper>