<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guangde.business.dao.DatadictionaryMapper">
	 <select id="queryByCode"  resultType="com.guangde.business.entry.Datadictionary"   parameterType="String">
	 		select * from Datadictionary where code=#{code}
	 </select>
	 
	 <select id="queryByTypeCode"  resultType="com.guangde.business.entry.Datadictionary"   parameterType="String">
	 		select * from Datadictionary where typeCode=#{typeCode}
	 </select>
</mapper>